@tailwind base;
@tailwind components;
@tailwind utilities;

/* eigene Basis-Styles */

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white font-body;
}

h1, h2, h3 {
  @apply font-display;
}
