@tailwind base;
@tailwind components;
@tailwind utilities;

/* eigene Basis-Styles */

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white font-body;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3 {
  @apply font-display;
}
